<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>  -->
<!-- <script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script> -->
	<script src="/js/jquery-1.11.3.min.js"></script>
	<script src="/js/gfp2.js"></script>
	<!-- <script src="/js/getIp.js"></script> -->

</head>
<body>
	hello! look your cookie.
	




<!-- <div id="_umfp"
	style="display: inline; width: 1px; height: 1px; overflow: hidden">
</div>
<script>
(function (w, d, t) {
    var s = d.createElement(t), m = d.getElementsByTagName(t)[0];
    s.async = 1;
    s.src = "http://localhost/js/pt2.js?_=" + Math.floor((new Date()).getTime() / 36e5);
    m.parentNode.insertBefore(s, m);
 
    w._pointman_q = w._pointman_q || [];
    _pointman_q.push(["um", function (umx) {
        var container = document.getElementById("_umfp");
        umx.init({
            timeout: 3000,
            serviceLocation: 'cn',
            appName: 'taobao_login',
            formId: 'J_Form',
            containers:{flash:container ,dcp:container}
        });
    }]);
})(window, document, "script");
</script> -->
	
</body>
</html>